/* Primary */

$Primary-Dark-Magenta: hsl(300, 43%, 22%);
$Primary-Soft-Pink: hsl(333, 80%, 67%);

/* Neutral */

$Neutral-Dark-Grayish-Magenta: hsl(303, 10%, 53%);
$Neutral-Light-Grayish-Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);

/* Fonts */

$font-size: 15px;
$font-family: 'Spartan', sans-serif;
